@import "../../components/mixins.scss";
@import "../../components/variables.scss";


.likeButton{
    display: flex;
    margin-top: 16px;

    &__num{
        @include body;
        font-size: 10px;
        line-height: 12px;
        color:$DarkShade25;
    }

}
.likeButton__like{
    cursor: pointer;
    margin-right: 10px;
    width: 40px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid $DarkShade25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 8px;
    outline: none;
    &_yes{
        border: 1px solid $Purple;
        width: 18px;
        height: 18px;
        
      
        background: $Gradient;  
        mask: url("../../assets//heart-solid.svg") no-repeat;
        -webkit-mask:url("../../assets/heart-solid.svg") no-repeat;
        -webkit-mask-size: 10px;
        -webkit-mask-position: left;    
    }
  
    i{
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 9px;
        color:$DarkShade25;
        
        &::before{
            
            position: absolute;
            left:5px;
            top: 5px;
        }
        

    }
    
    
}