
@import "./../../components/fonts.scss";

@import "https://pro.fontawesome.com/releases/v5.10.0/css/all.css" ;



*{
  box-sizing: border-box;
}
body {
  
    height: 830px;
    padding-left: 150px;
    padding-top: 145px;
    padding-right: 191px;
    padding-bottom: 145px;
}


