@font-face{
    font-family: "Quicksand";
    src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf"),
        url("../../assets/fonts/quicksand-variablefont_wght-webfont.woff"),
        url("../../assets/fonts/Quicksand-VariableFont_wght.svg") format("truetype");
}
@font-face{
    font-family: "Montserrat";
    font-weight: normal;
    src:
    url("../../assets/fonts/Montserrat-Regular.ttf"),
    url("../../assets/fonts/Montserrat-Regular.svg"),
    url("../../assets/fonts/Montserrat-Regular.woff") format("truetype");
}
@font-face{
    font-family: "Montserrat";
    font-weight: bold;
    src:url("../../assets/fonts/Montserrat-Bold.ttf"),
    url("../../assets/fonts/Montserrat-Bold.svg"),
    url("../../assets/fonts/Montserrat-Bold.woff"),
}

    

