/* Sample customized styling code */
/*#my-select {
    color: rgb(145, 145, 145);
}
.selectal-btn {
    background-color: rgb(40, 40, 40);
}
.selectal-selected-item {
    background: rgb(40, 40, 40);
}
.selectal-dropdown {
    background: rgb(40, 40, 40);
}
.selectal-dropdown-option {
    background: rgb(40, 40, 40);
}
.selectal-btn {
    background: rgb(40, 40, 40);
}*/