.selectal-btn {
	background: rgb(60,60,60);
	color: white;
	border: 1px solid gray;
}
.selectal-dropdown {
	background: rgb(60,60,60);
	color: white;
	border: 1px solid gray;
}
.selectal-dropdown-option:hover {
	color: rgb(0, 150, 250);
	background: initial;
}